.novelties-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  margin-left: 2rem;
  max-width: 40rem;
  max-height: 35rem;
  box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 1.25rem 2rem 0.625rem 2rem;
  border-radius: 0.625rem;
}

.duration-reservation-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.duration-reservation-image-container {
  display: flex;
  justify-items: center;
  gap: 1rem;
}

.duration-reservation-image-container > div > div > label {
  font-weight: bold;
  margin-bottom: 0;
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
  .services-form {
    width: 100%;
    max-width: 100%;
    margin-left: 0.5rem;
    margin-top: 0;
  }

  .upload-image-container {
    width: 100%;
  }

  .duration-reservation-image-container {
    flex-direction: column;
  }

  .duration-reservation-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .duration-input,
  .reservation-input {
    width: 48%;
  }
}
