.selected {
  background: var(--linear-gradient-primary-salmon) !important;
}

.selected,
.selected .price,
.selected h5 {
  color: #333 !important;
  font-weight: bold;
}

.no-selectable {
  user-select: none !important;
}
