.buscar-cliente {
  line-height: 3rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 1.5rem;
}

.clients-search-container {
  min-width: 35vw;
  width: 36.5rem;
  max-width: 100%;
}

@media screen and (max-width: 950px) {
  .buscar-cliente {
    width: 90vw;
  }

  .clients-search-container {
    min-width: 90vw;
    width: 90vw;
    max-width: 100%;
  }
}
