.appointment-container-client {
  display: flex;
  margin-top: 0.3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
}

.move-image-and-name {
  margin-left: 6.5rem;
  margin-top: -1rem;
}

@media screen and (max-width: 950px) {
  .appointment-container-client {
    width: 18rem;
  }

  .wider {
    width: 25rem !important;
  }
}
