.users-list {
  display: grid;
  justify-items: start;
  align-items: start;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding-right: 1rem;
}

.comment img {
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.user-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.user-detail:hover {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.form-control {
  color: black;
  font-weight: 500;
}

.form-control::placeholder {
  color: #aaa;
  font-weight: normal;
}

.container-seleccion-turnos {
  display: flex;
  width: 98vw;
  min-width: 98vw;
  margin-top: 1rem;
  padding-left: 1rem;
}

.contenedor-desplegables {
  width: 100%;
}

.servicios-usuarios {
  width: 95%;
}

@media screen and (max-width: 1150px) {
  .users-list {
    width: 100%;
    padding-right: 0;
  }

  .user-detail {
    width: 95%;
  }

  .servicios-usuarios {
    margin-left: 0.5rem;
  }

  .container-seleccion-turnos {
    flex-direction: column;
  }

  .smaller-calendar {
    width: 95vw !important;
    max-height: 90vh !important;
    margin-left: -0.4rem !important;
    margin-top: 1rem;
  }
}
