button.comment-fab:hover {
  transform: scale(1.1);
  background: rgb(24, 92, 200);
  color: #fff;
}

button.comment-fab {
  width: 2.5rem;
  height: 2.5rem;
  transform: scale(1);
  position: absolute;
  top: -1.25rem;
  left: 12rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  background: rgb(63, 63, 66);
  transition: all 0.12s ease-in-out;
  color: #fff;
  font-weight: bolder;
  font-size: 0.7rem;
}

button.comment-fab i {
  font-size: 1rem;
}

button.has-comments {
  background: rgb(3, 190, 75);
}
