.amount-to-pay {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 18rem;
  margin-right: 2rem;
}

.modal-btn {
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  border: none !important;
  outline: none !important;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.hasnt-aattended {
  background: var(--linear-gradient-primary-red);
}

.change-date {
  background: var(--linear-gradient-primary-blue);
  margin-bottom: 0.75rem;
}

.amount-and-button-container {
  position: relative;
}

.adjust-padding {
  padding-top: 0.858rem;
  padding-bottom: 0.858rem;
  margin-top: 1.1rem !important;
}

.buttons-container-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
