.login-screen-container {
  background-color: #eee;
  height: 100%;
  padding: 0 1rem;
  min-width: 25rem;
  max-width: 35rem;
  margin: 2rem auto;
}
form {
  width: 100%;
}

.spinner-validating-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  margin: 5rem auto;
}

.validated-client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 15rem;
  background-color: white;
  margin: 5rem auto;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.no-border-or-outline {
  border: none !important;
  outline: none !important;
}

.custom-date-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.36);
}

.login-header {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header h3 {
  flex: 1;
  margin-bottom: 0;
  font-weight: bolder;
}

.btn-submit {
  position: relative;
  color: #fff;
  font-weight: bolder;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  border: none !important;
  outline: none !important;
  border-radius: 0.5rem;
  background-color: #18f;
  transition: all 0.4s ease;
}

.btn-submit:hover {
  background-color: #1188ffd3;
}

.btn-login ñ form {
  width: 100%;
}

.go-to-register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
}

.btn-go-to-register {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: bolder;
  border: none;
  margin-top: 0.8rem;
  color: #76f;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.btn-go-to-register:hover {
  text-decoration: underline;
}

.react-datepicker__input-container input {
  outline: none;
  line-height: 1rem;
  width: 100%;
  padding: 0.7rem 1rem 0.7rem 2.6rem;
  border: 0.08rem solid #ddd;
  border-radius: 0.5rem;
}

.date-picker-input-container {
  z-index: 11;
  position: relative;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__month-container {
  min-width: 20rem;
  max-width: 35rem;
}

.react-datepicker__triangle {
  left: 5rem !important;
}

.react-datepicker__header,
.react-datepicker__day-name {
  color: #fff !important;
  background-color: #18f !important;
}

.react-datepicker__header {
  font-size: 0.9rem;
}

@media screen and (max-width: 950px) {
  .spinner-validating-client {
    width: 95vw;
  }
}
