.date-picker-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.header-container-year-month {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.13rem 0.75rem;
  outline: none !important;
}

.btn-increase-date {
  margin-right: 0.5rem;
}

.btn-decrease-date {
  margin-left: 0.5rem;
}

.btn-date {
  background-color: #eee !important;
}
