.user-image-label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #dabcb2;
  color: #000;
  font-weight: bold;
  border-radius: 0.625rem;
  min-width: 13rem;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.user-image-label:hover {
  background-color: #dabcb288;
}

.user-image-label input {
  outline: none;
  width: 0%;
  opacity: 0;
}

#user-image {
  cursor: pointer;
}

.choose-image {
  display: block;
  padding: 0.625rem;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.choose-image:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .user-image-label {
    width: 100%;
  }
}
